[user]
email = 246795909+abhilast@users.noreply.github.com
name = abhilast

[credential]
helper =
helper = /usr/local/share/gcm-core/git-credential-manager

[pull]
rebase = true

[include]
path = ~/.gitconfig.d/aliases
path = ~/.gitconfig.d/tools
